<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<connectionStrings>
		<add name="Conn" connectionString="Data Source=DESKTOP-AJTBMIQ\SQLEXPRESS;Initial Catalog=SINK;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.data.SqlClient" />
	</connectionStrings>
</configuration>